body {
    font-family: 'Aptos', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 90%;
    margin: 50px auto;
    overflow-x: auto;
}

h1 {
    color: #2A095D;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

table.table-striped.table-bordered {
    width: 100%;
    margin-top: 50px;
    border-radius: 20px;
    border-collapse: collapse;
    border: 2px solid #2A095D;
}

table.table-striped.table-bordered th,
table.table-striped.table-bordered td {
    vertical-align: middle;
    padding: 17px;
    text-align: left;
    font-size: 1.0rem;
    border: 2px solid #2A095D;
}

table.table-striped.table-bordered th {
    background-color: #F3C611;
    color: #333;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}

td {
    background-color: #f9f9f9;
}

tr:hover td {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

.pagination {
    margin-top: 20px;
    justify-content: center;
}

.page-item.active .page-link {
    background-color: #2A095D;
    border-color: #2A095D;
    color: white;
}

.page-link {
    color: #2A095D;
}

.page-link:hover {
    background-color: #2A095D;
    color: white;
}

.pagination .page-item {
    border-radius: 5px;
}

.table-responsive {
    overflow-x: auto;
}

/* Hide the table on small screens */
@media (max-width: 576px) {
    .table-responsive table {
        display: none; /* Hide the table on small screens */
    }

    /* Show card layout */
    .d-block.d-sm-none {
        display: block; /* Ensure that the card layout is shown */
    }

    .card {
        border: 1px solid #ddd;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
    }

    .card-title {
        font-size: 1.25rem;
    }

    .card-body {
        padding: 10px;
    }

    .card-body p {
        font-size: 0.875rem;
        margin-bottom: 10px;
    }

    .card-body form {
        margin-top: 10px;
    }
}

/* Show the table on larger screens */
@media (min-width: 577px) {
    .table-responsive table {
        display: table; /* Show the table */
    }

    .d-block.d-sm-none {
        display: none; /* Hide the card layout */
    }
}